/* CARD 1 */
.card1-imagem{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(41, 41, 44, 0.5)), url('../img/background-1.jpg');
	background-size: cover;
}

.card1{
	box-shadow: -2px 3px 5px 1px grey;
}

.btn_card1 {
	padding: 10px 15px;
    background-color: green;
    color: white;
    border: 3px solid green;
    border-radius: 5px;
    margin: 10px;
    text-decoration: none!important;
    transition: 0.7s;
}

.btn_card1:hover {
    background-color: transparent;
    border: 3px solid green;
    color: white;
}
/* CARD 1 */

/* CARD 2 */
.card2 {
	transition: 0.5s all ease;
}

.card2:hover {
	transform: scale(1.1);
}

.btn-card2 {
    border: 3px solid black;
    background-color: black;
    color: white;
    padding: 10px 50px;
    text-decoration: none!important;
    display: block;
}

.btn-card2:hover {
    background-color: white;
    border: 3px solid black;
    color: black;
}
/* CARD 2 */

/*Card 3*/
.card3 {
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	text-align: center;
	height:368px;
	border:none;
}
.card3 .background-block {
	height: 200px;
	overflow: hidden;
}
.card3 .background-block .background {
	width:100%;
	vertical-align: top;
	opacity: 0.9;
	filter: blur(0.5px);
	transform: scale(2.8);
}
.card3 .card-content {
	width: 100%;
	padding: 15px 25px;
	color:#232323;
	background:#efefef;
	height:50%;
	border-radius:0 0 5px 5px;
	position: relative;
	z-index: 888;
}
.card3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.card3 .profile {
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
	max-width: 100px;
	opacity: 1;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
	border: 2px solid rgba(255, 255, 255, 1);
	-webkit-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	z-index:999;
}
.card3 h2 {
	margin: 0 0 5px;
	font-weight: 600;
	font-size:25px;
}
.card3 h2 small {
	display: block;
	font-size: 15px;
	margin-top:10px;
}
.card3 i {
	display: inline-block;
	font-size: 16px;
	color: #232323;
	text-align: center;
	border: 1px solid #232323;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	margin:0 5px;
}
.card3 .icon-block{
    float:left;
    width:100%;
	margin-top:15px;
	margin-bottom: 10px
}
.card3 .icon-block a{
    text-decoration:none;
}
.card3 i:hover {
	background-color:#232323;
	color:#fff;
	text-decoration:none;
}
/*Card 3*/

/* CARD 4 */
.card4-imagem{
	background-image:url('../img/background-android2.jpg');
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
}

.btn4{
	text-align: center;
}

.btn-card4{
    /* text-align: center; */
    padding: 20px 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid green;
    margin-bottom: 10px;
    text-decoration: none!important;
    transition: 0.5s ease;

}

.btn-card4:hover{
	border: 4px solid green;
	transform: scale(1.3);
}

.btn-card4 i{
	color: green;
}
/* CARD 4 */
/* Cards Parallax  */
/*Card Parallax 1*/
.card-parallax-1 {
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 0.8s all ease;
    will-change: transform;
}

.content1 {
    padding: 50px;
    margin: 25px;
    border: 1px solid black;
    text-align: center;
    background-image: url(../img/alienware.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn_card_parallax{
	background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 25px;
    text-decoration: none!important;
    color: white;
    transition: 0.5s all ease;
}

.btn_card_parallax:hover{
	background-color: white;
	color: black;
}

.depth-1 { transform: translateZ(10px); }
.depth-2 { transform: translateZ(20px); }
.depth-3 { transform: translateZ(30px); }
.depth-4 { transform: translateZ(40px); }
.depth-5 { transform: translateZ(50px); }
.depth-6 { transform: translateZ(60px); }
.depth-7 { transform: translateZ(70px); }
.depth-8 { transform: translateZ(80px); }
.depth-9 { transform: translateZ(90px); }
.depth-10 { transform: translateZ(100px); }
/*Card Parallax 1*/

/*Card Parallax 2*/
.card-parallax-2 {
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 0.8s all ease;
    will-change: transform;
}

.content2 {
    padding: 50px;
    margin: 25px;
    border: 1px solid black;
    text-align: center;
    background-image: url(../img/alienware2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn_card_parallax{
	background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 25px;
    text-decoration: none!important;
    color: white;
    transition: 0.5s all ease;
}

.btn_card_parallax:hover{
	background-color: white;
	color: black;
}

.depth-1 { transform: translateZ(10px); }
.depth-2 { transform: translateZ(20px); }
.depth-3 { transform: translateZ(30px); }
.depth-4 { transform: translateZ(40px); }
.depth-5 { transform: translateZ(50px); }
.depth-6 { transform: translateZ(60px); }
.depth-7 { transform: translateZ(70px); }
.depth-8 { transform: translateZ(80px); }
.depth-9 { transform: translateZ(90px); }
.depth-10 { transform: translateZ(100px); }
/*Card Parallax 2*/

/*Card Parallax 3*/
.card-parallax-3 {
    transform: translateZ(0);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: 0.8s all ease;
    will-change: transform;
}

.content3 {
    padding: 50px;
    margin: 25px;
    border: 1px solid black;
    text-align: center;
    background-image: url(../img/alienware3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn_card_parallax{
	background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 25px;
    text-decoration: none!important;
    color: white;
    transition: 0.5s all ease;
}

.btn_card_parallax:hover{
	background-color: white;
	color: black;
}

.depth-1 { transform: translateZ(10px); }
.depth-2 { transform: translateZ(20px); }
.depth-3 { transform: translateZ(30px); }
.depth-4 { transform: translateZ(40px); }
.depth-5 { transform: translateZ(50px); }
.depth-6 { transform: translateZ(60px); }
.depth-7 { transform: translateZ(70px); }
.depth-8 { transform: translateZ(80px); }
.depth-9 { transform: translateZ(90px); }
.depth-10 { transform: translateZ(100px); }
/*Card Parallax 3*/
/* Cards Parallax  */
/* card-5 */
.card-5{
    height: 400px;
    width: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: -6px 5px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
	border: 3px solid #000000!important;
	background-color: lightgray!important;
}

.brand_logo_container{
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #000000;
}

.conteudo-card-5{
	text-align: center;
	padding: 5px 0px;
}

.button_card-5 {
    padding: 7px 50px;
    border: 2px solid gray;
    border-radius: 2px;
    background-color: gray;
    color: black;
    border: 2px solid black;
}
.button_card-5:hover {
	background-color: darkgray;
}
/* card-5 */

/* hover cards */
.hover-cards{
	padding: 50px 0px;
}
/* hover1 */
.hover-zoomin a {
	display: block;
	position: relative;
	overflow: hidden;
  }
  .hover-zoomin img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  }
  .hover-zoomin:hover img {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  /* hover1 */
  /* hover2 */
  .hover-zoomout a {
	display: block;
	position: relative;
	overflow: hidden;
  }
  .hover-zoomout img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  .hover-zoomout:hover img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
  }
  /* hover2 */

  /* hover3 */
  .hover-blurout a {
	display: block;
	position: relative;
	overflow: hidden;
  }
  .hover-blurout img {
	width: 100%;
	height: auto;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  .hover-blurout:hover img {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	/*Blur Filtr*/
	-webkit-filter: grayscale(0.6) blur(1px);
	-moz-filter: grayscale(0.6) blur(1px);
	-o-filter: grayscale(0.6) blur(1px);
	-ms-filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2);
	filter: progid:DXImageTransform.Microsoft.blur(pixelradius=2);
	filter: grayscale(0.6) blur(2px);
  }
  .hover-blurout a h2 {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
	width: 100%;
	padding: 45% 20px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	/*background dotted*/
	background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
	background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
	background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
	background-image: repeating-radial-gradient(center center, rgba(0,0,0,.8), rgba(0,0,0,.8) 1px, transparent 1px, transparent 100%);
	-webkit-background-size: 3px 3px;
	-moz-background-size: 3px 3px;
	background-size: 3px 3px;

	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
  }
  .hover-blurout:hover a h2 {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	color: white;
  }
  /* hover3 */
  /* hover4 */
  .fall-item {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	text-align: center;
 }
 .fall-item .mask,.fall-item .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
 }
 .fall-item img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
 }
 .fall-item h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 0 0 0 0;
 }
 .fall-item p {
	font-style: italic;
	position: relative;
	color: #fff;
	padding: 10px 20px 20px;
	text-align: center;
 }
 .fall-effect .mask {
	background-color: rgba(255, 255, 255, 0.7);
	top: -200px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0.5s;
	-moz-transition: all 0.3s ease-out 0.5s;
	-o-transition: all 0.3s ease-out 0.5s;
	-ms-transition: all 0.3s ease-out 0.5s;
	transition: all 0.3s ease-out 0.5s;
 }
 .fall-effect h2 {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	-moz-transition: all 0.2s ease-in-out 0.1s;
	-o-transition: all 0.2s ease-in-out 0.1s;
	-ms-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
 }
 .fall-effect p {
	color: #333;
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out 0.2s;
	-moz-transition: all 0.2s ease-in-out 0.2s;
	-o-transition: all 0.2s ease-in-out 0.2s;
	-ms-transition: all 0.2s ease-in-out 0.2s;
	transition: all 0.2s ease-in-out 0.2s;
 }
 .fall-effect a.btn {
	-webkit-transform: translateY(-200px);
	-moz-transform: translateY(-200px);
	-o-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out 0.3s;
	-moz-transition: all 0.2s ease-in-out 0.3s;
	-o-transition: all 0.2s ease-in-out 0.3s;
	-ms-transition: all 0.2s ease-in-out 0.3s;
	transition: all 0.2s ease-in-out 0.3s;
 }
 .fall-effect:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0px;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;

 }
 .fall-effect:hover h2 {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
 }
 .fall-effect:hover p {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
 }
 .fall-effect:hover a.btn {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
 }
  /* hover4 */
/* hover cards */